
#siteMenu {
    width: 100%;
}

.menu-collapser {
    position: relative;
    background-color: transparent;
    color: #fff;
    width: 100%;
    height: 55px;
    line-height: 55px;
    font-size: 16px;
    padding: 0 8px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box
}

.collapse-button {
    position: absolute;
    right: 0;
    top: 55%;
    width: 55px;
    background-color: #000;
    background-image: linear-gradient(to bottom, #151515, #040404);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-radius: 0;
    border-style: solid;
    border-width: 1px;
    color: #FFFFFF;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 0.075);
    padding: 7px 10px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    cursor: pointer;
    font-size: 14px;
    text-align: center;
    transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box
}

.collapse-button:hover, .collapse-button:focus {
    background-image: none;
}

.collapse-button .icon-bar {
    background-color: #F5F5F5;
    border-radius: 1px 1px 1px 1px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    display: block;
    height: 6px;
    width: 100%;
    margin: 3px 0;
}

ul.top-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

ul.top-menu:before,
ul.top-menu:after {
    content: '';
    display: table
}

ul.top-menu:after {
    clear: both
}

ul.top-menu.collapsed li {
    display: block;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box
}

ul.top-menu.collapsed li>ul {
    position: static;
    display: none
}

ul.top-menu.collapsed li a {
    display: block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box
}

ul.top-menu.collapsed li .sub-toggle {
    height: 40px
}

ul.top-menu li {
    position: relative;
    display: inline-block;
}

ul.top-menu li ul {
    margin: 0;
    list-style-type: none
}

ul.top-menu li>ul {
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 999999;
    display: none;
    padding: 0;
}

ul.top-menu li>ul>li ul {
    position: absolute;
    left: 100%;
    top: 0;
    z-index: 999;
    display: none;
  
}

ul.top-menu li a {
    display: block;
    transition: background-color 0.5s ease-out;
    -o-transition: background-color 0.5s ease-out;
    -moz-transition: background-color 0.5s ease-out;
    -webkit-transition: background-color 0.5s ease-out;
    width: 100%;
}

ul.top-menu li ul li a {
    width: 100%;
}

ul.top-menu li ul li {
    width: 100%;
}

ul.top-menu li a:hover {
    text-decoration: none;
}

ul.top-menu li .sub-toggle {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 999;
    width: 48px;
    height: 100%;
    text-align: center;
    cursor: pointer;
    display: none;
}

ul.top-menu li .sub-toggle:before {
    content: '';
    display: inline-block;
    height: 100%;
    margin-right: -0.25em;
    vertical-align: middle
}

ul.top-menu li .sub-toggle>span {
    display: inline-block;
    color: #333;
    font-size: 18px;
    vertical-align: middle
}



ul.top-menu>li:first-child,
ul.top-menu>li.has-submenu+li {
    border-left: 0
}

@media(max-width:360px) {
    .xs-center {
        margin: 0 auto !important;
    }

    .navside {
        position: absolute;
        top: 2px;
        right: 0px;
        z-index: 100;
        width: 100%;
        overflow-y: visible;
    }
}

@media(max-width:480px) {

    .xs-center {
        margin: 0 auto !important;
    }

    .navside {
        position: absolute;
        top: 2px;
        right: 0px;
        z-index: 100;
        width: 100%;
        overflow-y: visible;
    }

}
@media(max-width:800px){


      .xs-center {
          margin: 0 auto !important;
      }

      .nav-collapse li {
          width: 100%;
          display: block;
      }

      ul.top-menu{

        box-shadow: 2px 0px 2px 0 rgba(60,60,60,0.4);

      }

      ul.top-menu>li {
        width : 100%
      }
}

.nav-toggle {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

/*** ESSENTIAL STYLES ***/
.top-menu, .top-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
}
.top-menu li {
    position: relative;
}
.top-menu ul {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    z-index: 99;
}
.top-menu li:hover > ul,
.top-menu li.sfHover > ul {
    display: block;
}

.top-menu a {
    display: block;
    position: relative;
}
.top-menu ul ul {
    top: 0;
    left: 100%;
}


/*** ESSENTIAL STYLES ***/
.site-menu, .site-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
}
.site-menu li {
    position: relative;
}
.site-menu ul {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    z-index: 99;
}
.site-menu li:hover > ul,
.site-menu li.sfHover > ul {
    display: block;
}

.site-menu a {
    display: block;
    position: relative;
}
.site-menu ul ul {
    top: 0;
    left: 100%;
}

ul.site-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

ul.site-menu:before,
ul.site-menu:after {
    content: '';
    display: table
}

ul.site-menu:after {
    clear: both
}

ul.site-menu.collapsed li {
    display: block;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box
}

ul.site-menu.collapsed li>ul {
    position: static;
    display: none
}

ul.site-menu.collapsed li a {
    display: block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box
}

ul.site-menu.collapsed li .sub-toggle {
    height: 40px
}

ul.site-menu li {
    position: relative;
    display: inline-block;
}

ul.site-menu li ul {
    margin: 0;
    list-style-type: none
}

ul.site-menu li>ul {
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 999999;
    display: none;
    padding: 0;
}

ul.site-menu li>ul>li ul {
    position: absolute;
    left: 100%;
    top: 0;
    z-index: 999;
    display: none;
  
}

ul.site-menu li a {
    display: block;
    transition: background-color 0.5s ease-out;
    -o-transition: background-color 0.5s ease-out;
    -moz-transition: background-color 0.5s ease-out;
    -webkit-transition: background-color 0.5s ease-out;
    width: 100%;
}

ul.site-menu li ul li a {
    width: 100%;
}

ul.site-menu li ul li {
    width: 100%;
}

ul.site-menu li a:hover {
    text-decoration: none;
}

ul.site-menu li .sub-toggle {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 999;
    width: 48px;
    height: 100%;
    text-align: center;
    cursor: pointer;
    display: none;
}

ul.site-menu li .sub-toggle:before {
    content: '';
    display: inline-block;
    height: 100%;
    margin-right: -0.25em;
    vertical-align: middle
}

ul.site-menu li .sub-toggle>span {
    display: inline-block;
    color: #333;
    font-size: 18px;
    vertical-align: middle
}



ul.site-menu>li:first-child,
ul.site-menu>li.has-submenu+li {
    border-left: 0
}